@keyframes slideDown {
    from {
        transform: translatey(-50%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.title {
    animation-name: slideDown;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-delay: 1s;
}