.vision1 {
    width: 200px;
    height: 170px;
    margin: 15px;
    display: inline-block;
    background-color: #c9769c;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #6b940b;
    line-height: 5px;
    padding: 8px;
    font-size: 17px;
}
.vision2 {
    width: 200px;
    height: 170px;
    margin: 15px;
    display: inline-block;
    background-color: #6b940b;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #bd5dcd;
    line-height: 5px;
    padding: 8px;
    font-size: 17px;
}
    
.vision3 {
    width: 200px;
    height: 170px;
    margin: 15px;
    display: inline-block;
    background-color: #bd5dcd;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #e5bd46;
    line-height: 5px;
    padding: 8px;
    font-size: 17px;
}
    
.vision4 {
    width: 200px;
    height: 170px;
    margin: 15px;
    display: inline-block;
    background-color: #e5bd46;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #c9769c;
    line-height: 5px;
    padding: 8px;
    font-size: 17px;
}